<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>	
	<head>
		<link rel="stylesheet" href="{{ site.baseurl }}styles/css/main.css" media="screen" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />
	</head>
	
	<body>
	<div id="header">
		<div class="container">
			<div class="columns sixteen">
				<div class="content">
					<div class="icon">
						<div id="menu">
							<div class="indicator"></div>
							<ul>
								<li>
									<a href="#">example</a>
								</li>
								<li>
									<a href="#">example</a>
								</li>
								<li>
									<a href="#">example</a>
								</li>								
							</ul>
						</div>							
					</div>
				
				</div>
			</div>			
		</div>
	</div>
	<div id="content">
		
	
